body {
	font-family: 'Poppins', sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	display: flex;
}

a {
	text-decoration: none;
}

header {
	background: #f6f6f6;
	padding: 22px 0;
}

.header-container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header-container a {
	color: #000;
	font-size: 16px;
	padding: 27px 6px;
	margin-right: 63px;
}

.header-container a:hover {
	background: #ffea00;
}

#menu-checkbox {
	display: none;
}

ul {
	display: flex;
}

nav {
	margin-top: 20px;
}

.top-slide {
	background: url(img/slider_bg.jpg) no-repeat;
	padding-top: 120px;
	padding-bottom: 280px;
}

.top-container {
	width: 85%;
	margin: 0 auto;
}

.top-slide h2 {
	background: #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 4px;
}

.top-slide :nth-child(2) {
	margin-bottom: 10px;
}

.top-slide p {
	background: #414146;
	display: inline;
	font-size: 24px;
	color: #fff;
}

.specialize-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.specialize-container h3 {
	font-size: 36px;
}

.specialize-container p {
	font-size: 24px;
	margin-top: 20px;
}

.first-p {
	font-size: 20px;
	color: #fff;
}

.bottom-card {
	background: #414146;
	position: relative;
	top: -30px;
}

.specialize-cards {
	display: flex;
	justify-content: space-between;
}

.portfolio {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.portfolio h4 {
	background: #424147;
	color: #ffea00;
	padding: 0 8px;
	display: inline-block;
	font-size: 18px;
	margin-bottom: 30px;
} 

.portfolio p {
	color: #424146;
	font-size: 16px;
}

.toggles button {
	border: none;
	color: #424146;
	cursor: pointer;
	font-size: 16px;
	margin: 20px 5px;
} 

.toggles button:after {
	content: '/ ';
}

.toggles button:last-child:after {
	content: none;
}

.posts {
	width: 90%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto auto auto auto;
}

.brand-slider {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.brand-slider h4 {
	margin-top: 40px;
	background: #424147;
	color: #ffea00;
	padding: 0 8px;
	display: inline-block;
	font-size: 18px;
	margin-bottom: 50px;
} 

.brand-slider p {
	color: #424146;
	font-size: 16px;
	margin-bottom: 30px;
}

footer {
	width: 90%;
	background: #414146;
	padding: 30px 0;
	color: #fff;
	display: grid;
}

footer h4 {
	font-size: 18px;
}

.footer-container {
	width: 90%;
	margin: 0 auto;
	grid-template-columns: auto auto auto;
}












@media screen and (max-width: 420px) {
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.main-menu {
		display: none;
	}
	.main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}
	.main-menu a {
		display: block;
		padding: 8px;
	}
	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 20px;
	}
	.toggle-button:after {
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu {
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
		content: attr(data-close)
	}
	.header-container a {
		margin-right: -65px;
	}
	.main-menu {
		position: relative;
		top: 30px;
		right: 115px;
	}
}